<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/SoftwareApplication">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/builtwithdart.css" rel="stylesheet">

  {% capture page_title %}{% if page.title %}{{ page.title }} | {%endif%}BuiltWithDart{% endcapture %}
  <title>{{ page_title}}</title>
  <meta itemprop="name" content="{{ page_title}}">

  <meta itemprop="applicationCategory" content="Programming Language">
  <meta itemprop="applicationSubCategory" content="Dart">
  
  {% capture description %}{% if page.description %}{{ page.description }}{%else%}Applications built with Google Dart{%endif%}{% endcapture %}
  <meta itemprop="description" content="{{ description }}">
  {% capture download_url %}{% if page.download_url %}{{ page.download_url }}{%else%}http://www.dartlang.org{%endif%}{% endcapture %}
  <meta itemprop="downloadUrl" content="{{ download_url }}">	
  {% capture author %}{% if page.author %}{{ page.author }}{%else%}http://www.builtwithdart.com{%endif%}{% endcapture %}
  <meta itemprop="author" content="{{ author }}">


  <link href="https://plus.google.com/117571249567635877826" rel="publisher">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  {% include analytics.html %}


<script>
window.___gcfg = {lang: 'en'};
(function()
	{var po = document.createElement("script");
	po.type = "text/javascript"; po.async = true;po.src = "https://apis.google.com/js/plusone.js";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(po, s);
})();
</script>

<script>
window.twttr = (function (d,s,id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
  js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
</head>
<body>

  <nav>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- required for collapseable bar -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <a href="/" title="BuiltWithDart" class="brand" ><img src="/img/builtwithdart.png" alt="Built with Dart"></a>
          <ul class="nav">
              <li><a href="/projects/frameworks/">Frameworks</a></li>
               <li class="divider-vertical"></li>
              <li><a href="/projects/games/">Games</a></li>
               <li class="divider-vertical"></li>
              <li><a href="/projects/apps/">Apps</a></li>
               <li class="divider-vertical"></li>
              <li><a href="/projects/demos/">Demos</a></li>
               <li class="divider-vertical"></li>
              <li><a href="/projects/infrastructure/">Infrastructure</a></li>
               <li class="divider-vertical"></li>
			        <li><a href="/contact/" title="Contact Us" style="padding: 7px 0px 0px 20px; "> Contact
                    <img src="/img/dartwatchlogo32.png" height="32" alt="Contact Us">
                  </a>
              </li>	  
          </ul>
          <ul class="nav pull-right">
            <li class="share-button gplus"><div class="g-plusone" data-size="medium" data-callback="gplus_pressed" data-annotation="none"></div></li>
            <li class="share-button twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="dartlang">Tweet</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div class="container maincontent">
